body {
  font-family: "Helvetica";
  color: #333;
  background-color: #eee;
  font-size: 20px;
  line-height: 1.5;
  font-weight: 100;
}

h1 {
  text-align: center;
  text-transform: uppercase;
}

h2 {
  text-decoration: underline;
}

h3 {
  margin-top: 4rem;
  background-color: #ccc;
  color: #111;
}

.figures-div {
  display: flex;
  flex-wrap: wrap;
}

figcaption {
  font-size: 0.75rem;
}

ul {
  list-style: circle;
}

li {
  padding-left: 1rem;
  padding-right: 1rem;
}

ul,
ol {
  padding-left: 2rem;
}

.navigation {
  list-style: none;
  padding: 0;
}

.navigation li {
  padding: 0;
}

.navigation a {
  color: teal;
}

.navigation a:hover {
  color: black;
  text-decoration: underline;
  font-weight: 600;
}

a {
  color: tomato;
  text-decoration: none;
}

footer {
  font-size: 1rem;
}

footer.main-footer {
  text-align: center;
  text-transform: uppercase;
}
